.sticky-navigation {
    position: sticky;
    top     : 0;
}

// .nav-background {
//     background-color: #001e7e;
// }

.nav-header {
    padding-bottom: 0.5rem;

    .navbar {
        padding-bottom: 0.5rem !important;
    }

    .bg-header {
        background-color: #001e7e;
    }

    .brand-name {
        color: white !important;
    }

    a,
    .nav-link {
        color: white !important;

        &:hover {
            color: #61dafb !important;
        }
    }

    .nav-link {
        &.active {
            color           : #61dafb !important;
            // border-bottom: 2px solid;
        }
    }

    .dropdown-menu {
        a {
            color: #212529 !important;
        }
    }

    .navbar-brand {
        font-size: calc(0.5em + 1vw);

        img {
            animation: App-logo-spin infinite 20s linear;
        }

        @keyframes App-logo-spin {
            from {
                transform: rotate(0deg);
            }

            to {
                transform: rotate(360deg);
            }
        }
    }
}